@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Album Collection</h1>
    <p class="lead">Look at all these songs that don't exist.</p>
    <p><a href="" class="btn btn-primary btn-lg">Useless Link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="text-decoration-line: underline;">Album Collection</h2>
        <p>
            This Album Collection stores the albums themselves and songs contained within related to the corresponding album.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_2018_albums">Albums of 2018 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>More info soon.</p>
        <p><a class="btn btn-default" href="https://www.google.ca/">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>More info soon.</p>
        <p><a class="btn btn-default" href="https://www.google.ca/">Link &raquo;</a></p>
    </div>
</div>