@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Album Store</h1>
    <p class="lead">Buy Albums that may or may not exist.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This Album Store stores the albums themselves and songs contained within related to the corresponding album.
        </p>
</div>