@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Tutorials</h1>
    <p class="lead">Look at all these tutorials that don't exist!</p>
    <p><a href="" class="btn btn-primary btn-lg">Useless Link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="text-decoration-line: underline;">Tutorial Collection</h2>
        <p>
            Community driven tutorial service for all things technology oriented.
        </p>
        <p><a class="btn btn-default" href="https://www.americandairy.com/dairy-farms/dairy-cows/">Dairy Cows &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>More info soon.</p>
        <p><a class="btn btn-default" href="https://www.google.ca/">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>More info soon.</p>
        <p><a class="btn btn-default" href="https://www.google.ca/">Link &raquo;</a></p>
    </div>
</div>